<nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">EKO Tracking</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="help.html"><span class="glyphicon glyphicon-question-sign"></span></a></li>
                <li><a href="about_us.html">About</span></a></li>
                <li><a href="contact_us.html">Contact</a></li>
                <li><a href="sign_up.html">Sign Up</a></li>
                <li><a href="login.html">Login</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span>&nbsp&nbspAccount</a>

                    <ul id="dropdownList" class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp&nbspAccount Portal</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-comment"></span>&nbsp&nbspNotifications</a></li>

                        <li role="separator" class="divider"></li>

                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp&nbspAccount Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>